.Primer{
	width: 50px;
	height: 50px;
	margin-left: 960px;
	margin-top: -45px;
	background-color: red;
}

p{
	margin-top: 0px;
	margin-left: 972px;
	font-size: 21px;
	color: black;
}
.parrafo{
	margin-top: 0px;
	margin-left: 1115px;
	font-size: 21px;
	color: black;
}
.salas{
	margin-left: 912px;
	margin-top: -270px;
}

.salas2{
	margin-left: 1042px;
	margin-top: -270px;
}
.Primer2{
	width: 50px;
	height: 50px;
	margin-left: 1100px;
	margin-top: -45px;
	background-color: red;	
}