.contenedor{
	background: #F8F7F7;
	width: 950px;
	height: 550px;
	margin-left: 60px;
	margin-top: 40px;
}
.Button{
	margin-left: 830px;
	margin-top: -40px;
}
.contenedor2{
	background-color:#F8F7F7;
	width: 950px;
	height: 350px;
	margin-left: 60px;
margin-left: 60px;
	margin-top: 40px;	
}
img{
	width: 200px;
	height: 250px;
	margin-left: 620px;
	margin-top: 250px;
}
h4{
	margin-top: -480px;
	margin-left: 305px;
}

p{
	margin-left: 0px;
}

iframe{
	margin-left: 70px;
}

h3{
	margin-left: 70px;
}
h1{
	
	margin-top: -470px;
	text-align: center;
	color: #55A0F5;
}

.imagen{
	width: 60px;
	height: 60px;
	margin-top: 20px;
	margin-left: 340px;
	
}
.titulo{
	margin-top: -50px;
	margin-left: 420px;
}

.parrafo{
	width: 580px;
	margin-top: 70px;
	margin-left: 250px;
	font-size: 18px;
}