.contenedor{
	width: 850px;
	height: 850px;
	background-color: #BCC0C6;
	margin-top: 150px;
	margin-left: 250px;
}
.titulo{
	text-align: center;
	color: #55A0F5;
}
.Circuloadultos{
	background-color: green;
	height: 50px;
	width: 50px;
	margin-left: 500px;
	margin-top: -370px;
	border-radius: 100px;
}
.Circuloadultos2{
	background-color: red;
	height: 50px;
	width: 50px;
	margin-left: 750px;
	margin-top: -585px;
	border-radius: 100px;
}
.Circuloadultos3{
	background-color: yellow;
	height: 50px;
	width: 50px;
	margin-left: 750px;
	margin-top: 40px;
	border-radius: 100px;
}
.Adultos{
	margin-left: 560px;	
	margin-top: -40px;
	font-size: 24px;
	color: #55A0F5;
}
.Adultoscobro{
	margin-left: 750px;
	margin-top: -45px;
	font-size: 24px;
	color: #55A0F5;	
}
.Adultos2{
	margin-left: 810px;	
	margin-top: -40px;
	font-size: 24px;
	color: #55A0F5;
}
.Adultoscobro2{
	margin-left: 1005px;
	margin-top: -45px;
	font-size: 24px;
	color: #55A0F5;	
}
.Adultos3{
	margin-left: 810px;	
	margin-top: -40px;
	font-size: 24px;
	color: #55A0F5;
}
.Adultoscobro3{
	margin-left: 1005px;
	margin-top: -45px;
	font-size: 24px;
	color: #55A0F5;	
}
.A1{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 470px;
	margin-top: 250px;
	border-radius: 5px;
}
.B1{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 530px;
	margin-top: -50px;
	border-radius: 5px;
}
.C1{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 590px;
	margin-top: -50px;
	border-radius: 5px;
}
.D1{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 650px;
	margin-top: -50px;
	border-radius: 5px;
}
.E1{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 710px;
	margin-top: -50px;
	border-radius: 5px;
}
.A2{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 710px;
	margin-top: 10px;
	border-radius: 5px;
}
.B2{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 530px;
	margin-top: -50px;
	border-radius: 5px;
}
.C2{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 590px;
	margin-top: -50px;
	border-radius: 5px;
}
.D2{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 650px;
	margin-top: -50px;
	border-radius: 5px;
}
.E2{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 470px;
	margin-top: -50px;
	border-radius: 5px;
}
.A3{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 470px;
	margin-top: 20px;
	border-radius: 5px;
}
.B3{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 530px;
	margin-top: -50px;
	border-radius: 5px;
}
.D3{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 650px;
	margin-top: -50px;
	border-radius: 5px;
}
.E3{
	background-color: #CD853F;
	height: 50px;
	width: 50px;
	margin-left: 710px;
	margin-top: -50px;
	border-radius: 5px;
}
