.pelicula{
	width: 450px;
	height: 250px;
	margin-top: 55px;
	margin-left: 550px;
	background-color:#D7D4D4;
}

img{
	width: 130px;
	height: 170px;
	margin-left: 300px;
	margin-top: 55px;
}

.complejo1{
	margin-left: 640px;
}

.complejo2{
	margin-top: 30px;
	margin-left: 680px;	
}

.complejo3{
	margin-top: 30px;
	margin-left: 550px;	
}

.complejo4{
	margin-top: 30px;
	margin-left: 660px;	
}
.tipo{
	width: 62px;
	height: 22px;
	background-color: white;
	color: #55A8F5;
	margin-left: 300px;
	margin-top: -210px;
	
}
.tipo10{
	width: 100px;
	height: 22px;
	background-color: white;
	color: #55A8F5;
	margin-left: 300px;
	margin-top: -210px;
	
}
.tipo8{
	width: 65px;
	height: 22px;
	background-color: white;
	color: #55A8F5;
	margin-left: 300px;
	margin-top: -210px;
	
}
.tipo4{
	width: 168px;
	height: 22px;
	background-color: white;
	color: #55A8F5;
	margin-left: 250px;
	margin-top: -210px;
	
}